*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Homemade Apple', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 10px;
}
img{
    width: 100%;
}
.gallery__container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}
.herb-info{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: white;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}
.herb-info__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}
.herb-info__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
.herb-info__img::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0,.05);
    border-radius: .8rem;
}
.herb-info__a span{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}
.herb-info__title{
    font-size: 2.5rem;
    margin-top: 1.5rem 0 2rem;
}